# Ignore virtual environment
venv/
.venv/
env/

# Ignore python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore local configuration and databases
.env
.env.local
.env.example
*.db
*.db-journal

# Ignore metadata and IDE configurations
.git
.gitignore
.vscode/
.idea/
.DS_Store

# Ignore temporary backup files
*.bak
backup-temp/
